$color_background: #1b9b7f;
$color_text: #2da289;
.menu {
  .li-login {
    margin-top: 4px;
    padding: 0 15px;
  }
  .li-register {
    margin-top: 4px;
  }
  .btn-login {
    width: 114px;
    height: 43px;
    border-radius: 21.5px;
    border: 1px solid;
    padding: 11px 0;
    border-color: $color_background;
  }
  .btn-register {
    width: 114px;
    height: 43px;
    border-radius: 21.5px;
    border: 1px solid;
    padding: 11px 0;
    color: white !important;
    background-color: $color_background;
    &:hover {
      background-color: $color_background !important;
    }
  }
}
.navbar {
  height: 72px !important;
  display: flex;
  align-items: center;
}

.clear {
  clear: left;
}

.register_login {
  overflow-y: auto;
  overflow-x: hidden;
  .col-right {
    padding: 0 370px 0 125px;
    .forget-password {
      margin-bottom: 24px;
      color: $color_background;
    }
    .btn-login {
      width: 100%;
      height: 52px;
      border-radius: 34px;
      color: white;
      background: $color_background;
      border: none;
      font-size: 16px;
      margin-bottom: 24px;
      &:focus {
        outline: none;
      }
    }
    .form {
      .nav-tabs {
        border-bottom: 1.5px solid #e9e9eb;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: #000000;
        a {
          margin-right: 30px;
          color: black;
          border: none;
          &:hover {
            background-color: unset;
          }
        }
        li.active a {
          border: none;
          border-bottom: 1.5px solid $color_background;
        }
      }
      .tab-content {
        margin-top: 40px;
      }
      .input-group {
        border-radius: 34px;
        margin-bottom: 24px;
        box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);

        span {
          border: none;
          background: #ffffff;
          border-top-left-radius: 34px;
          border-bottom-left-radius: 34px;
          text-align: right;
          height: 52px;
          padding: 0;
          .icon {
            padding: 0 20px 0 50px;
            border-right: 1px solid #c4c4c4;
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
        input {
          height: 52px;
          font-size: 20px;
          border: none;
          box-shadow: none;
          border-top-right-radius: 34px;
          padding-left: 21px;
          border-bottom-right-radius: 34px;
        }
      }
    }
    .login-social {
      display: flex;
      justify-content: center;
      margin-top: 24px;
      .facebook {
        margin-right: 38px;
      }
    }
  }
  .title1 {
    margin-top: 120px;
    font-weight: 600;
    font-size: 36px;
  }
  .description {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #647993;
    margin-bottom: 50px;
  }
  .frame {
    background-repeat: no-repeat;
  }
}

.tram-xe {
  padding: 20px 38px;
  .col-45 {
    max-width: 47%;
  }
  .item {
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 9px;
    height: 201px;
    margin-bottom: 10px;
    .left {
      margin-right: 16px;
      float: left;
      img {
        border-radius: 5px;
      }
    }
    .right {
      padding: 10px;
      .title1 {
        margin-top: 0;
        margin-bottom: 12px;
        font-size: 24px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Quicksand;
        font-style: normal;
        font-weight: 600;
      }
      .address {
        font-size: 15px;
        margin-bottom: 19px;
        color: #545454;
      }
      .phone {
        font-size: 15px;
        margin-bottom: 16px;
        color: #545454;
      }
      .mail {
        font-size: 15px;
        color: #545454;
      }
      .btn-shop {
        width: 130px;
        height: 37px;
        float: right;
        background: $color_background;
        border-radius: 50px;
        color: white;
        border: 0;
        &:focus {
          outline: unset;
        }
      }
    }
  }
  .maps {
    width: 53%;
  }
}

.product {
  .header_main_cart {
    margin-left: 45px;
    position: relative;
    .cart_icon {
      width: 24px;
      height: 24px;
    }
    .total_cart {
      position: absolute;
      top: -6px;
      right: -9px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $color_background;
      color: #fff;
      text-align: center;
      line-height: 15px;
      font-weight: 600;
      font-size: 12px;
    }
  }
  .user {
    color: $color_text !important;
  }
  .breadcrumb {
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 70px;
    a {
      color: #000;
      font-size: 16px;
    }
  }
  .content {
    .col-left {
      box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
      margin-top: 44px;
      .title1 {
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
      }
      .border {
        border-bottom: 1px dashed #1b9b7f;
        width: 110px;
        margin-bottom: 22px;
      }
      ul {
        padding-left: 0px;
        li.active {
          a {
            font-weight: 600;
            color: $color_background;
          }
        }
        li {
          list-style: none;
          margin-bottom: 17px;
          a {
            font-size: 14px;
            color: #000000;
          }
        }
      }
      .nha-sx {
        margin-top: 30px;
      }
    }
    .col-right {
      .card {
        box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
        width: 250px;
        margin-top: 44px;
        position: relative;
        .card-img-top {
          width: 250px;
          height: 205px;
          border-bottom: 1px solid #c4c4c4;
        }
        .card-title {
          color: #000;
          font-weight: 600;
          font-size: 18px;
          margin: 25px 0 16px 0;
        }
        .card-text {
          padding-bottom: 14px;
          color: $color_text;
          font-weight: 500;
          font-size: 20px;
        }
        .product_cart {
          position: absolute;
          top: 9px;
          right: 0px;
          a {
            width: 34px;
            height: 34px;
            left: 853px;
            top: 183px;
            border: 1px solid #dadada;
            box-sizing: border-box;
            box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.08);
            border-radius: 6px;
            display: inline-block;
            line-height: 30px;
            margin-right: 9px;
          }
        }
      }
      .pagination1 {
        margin: 38px 0 29px 0;
        li {
          list-style: none;
          background: #ffffff;
          border: 1px dashed #1b9b7f;
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: inline-block;
          line-height: 38px;
          font-weight: 600;
          font-size: 16px;
          margin-right: 14px;
          a {
            display: block;
            color: $color_background;
          }
        }
        li.active {
          border: none;
          a {
            background-color: $color_background;
            border-radius: 50%;
            height: 40px;
            color: #fff;
          }
        }
        li.prev {
          transform: rotate(180deg);
          a {
            line-height: 35px;
          }
        }
        li.next {
          a {
            line-height: 36px;
          }
        }
      }
    }
  }
}

.product-detail {
  .detail-right {
    margin-top: 44px;
    .title1 {
      font-weight: 600;
      font-size: 40px;
    }
    .price {
      font-weight: 600;
      font-size: 20px;
      color: $color_text;
      margin-top: 20px;
    }
    .description {
      font-size: 16px;
      line-height: 20px;
      text-align: justify;
      margin-bottom: 24px;
      color: #000000;
    }
    .category {
      margin-top: 24px;
      a {
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        color: #000;
      }
    }
    .new-bike {
      font-size: 16px;
      margin-top: 20px;
      color: #000;
      a {
        cursor: pointer;
      }
    }
    .share {
      margin-top: 24px;
      font-weight: 600;
      font-size: 16px;
      a {
        text-decoration: none;
        cursor: pointer;
        color: #000;
      }
    }
    .line {
      width: 36px;
      height: 0px;
      left: 1167px;
      top: 626px;
      border: 1px solid #c4c4c4;
    }
    .social {
      margin-left: 0;
      margin-top: 20px;
      .social_child{
        display: flex;
        div{margin-right: 12px;}
        button {
          border: 1px solid #c4c4c4;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          background: no-repeat;
        }
      }
    }
  }

  .main-slider {
    width: 100%;

    .owl-stage {
      background-color: rgba(30, 144, 255, 0.8);
    }

    .owl-item {
      padding: 0;
      position: relative;
      opacity: 0.5;

      img {
        object-fit: cover;
        object-position: center;
        height: 350px;
      }
    }
    .center {
      opacity: 1;
      transform: scale(1.005);
      transition: 0.5s ease-in-out;
      z-index: 9999;
      .item {
        display: flex;
        height: 449px;
        justify-content: center;
        align-items: center;
        background: #fff;
      }
    }

    .owl-controls .owl-nav {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      .prev {
        position: absolute;
        height: 80%;
        width: 15%;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      .next {
        position: absolute;
        height: 80%;
        width: 15%;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .owl-thumbs {
      text-align: center;
      display: table;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .owl-thumb-item {
      width: 90px;
      height: 90px;
      border: none;
      background: none;
      padding: 0;
      opacity: 0.7;
      overflow: hidden;
      background: #ffffff;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
      &:focus {
        outline: none;
      }
    }

    .owl-thumb-item img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }

    .owl-thumb-item.active {
      &:focus {
        outline: none;
      }
      opacity: 1;
      img {
        position: relative;
      }
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
  }

  .quantity {
    #qty_input {
      text-align: center;
      background: #fff;
      width: 96px;
      height: 49px;
      border: 1px solid #c4c4c4;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 500;
      font-size: 16px;
    }
    .btn-dark {
      background: #fff;
      border: none;
    }
    button#minus-btn {
      position: absolute;
      left: 2px;
      z-index: 10;
      top: 12px;
      &:focus {
        outline: none;
      }
    }
    button#plus-btn {
      position: absolute;
      right: 2px;
      z-index: 10;
      top: 12px;
      &:focus {
        outline: none;
      }
    }
  }
  .add-to-cart {
    button {
      width: 139px;
      height: 49px;
      background: #ffffff;
      border: 1px solid $color_background;
      box-sizing: border-box;
      border-radius: 6px;
      font-weight: 500;
      font-size: 16px;
      color: $color_background;
      &:focus {
        outline: none;
      }
    }
  }
}
