.menu .li-login {
  margin-top: 4px;
  padding: 0 15px;
}

.menu .li-register {
  margin-top: 4px;
}

.menu .btn-login {
  width: 114px;
  height: 43px;
  border-radius: 21.5px;
  border: 1px solid;
  padding: 11px 0;
  border-color: #1b9b7f;
}

.menu .btn-register {
  width: 114px;
  height: 43px;
  border-radius: 21.5px;
  border: 1px solid;
  padding: 11px 0;
  color: white !important;
  background-color: #1b9b7f;
}

.menu .btn-register:hover {
  background-color: #1b9b7f !important;
}

.navbar {
  height: 72px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clear {
  clear: left;
}

.register_login {
  overflow: hidden;
}

.register_login .col-right {
  padding: 0 370px 0 125px;
}

.register_login .col-right .forget-password {
  margin-bottom: 24px;
  color: #1b9b7f;
}

.register_login .col-right .btn-login {
  width: 100%;
  height: 52px;
  border-radius: 34px;
  color: white;
  background: #1b9b7f;
  border: none;
  font-size: 16px;
  margin-bottom: 24px;
}

.register_login .col-right .btn-login:focus {
  outline: none;
}

.register_login .col-right .form .nav-tabs {
  border-bottom: 1.5px solid #e9e9eb;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.register_login .col-right .form .nav-tabs a {
  margin-right: 30px;
  color: black;
  border: none;
}

.register_login .col-right .form .nav-tabs a:hover {
  background-color: unset;
}

.register_login .col-right .form .nav-tabs li.active a {
  border: none;
  border-bottom: 1.5px solid #1b9b7f;
}

.register_login .col-right .form .tab-content {
  margin-top: 40px;
}

.register_login .col-right .form .input-group {
  border-radius: 34px;
  margin-bottom: 24px;
}

.register_login .col-right .form .input-group span {
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
  border-top-left-radius: 34px;
  border-bottom-left-radius: 34px;
  padding: 0 20px 0 50px;
  text-align: right;
  height: 52px;
}

.register_login .col-right .form .input-group input {
  height: 52px;
  font-size: 20px;
  border: none;
  -webkit-box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
  border-top-right-radius: 34px;
  border-bottom-right-radius: 34px;
}

.register_login .col-right .login-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}

.register_login .col-right .login-social .facebook {
  margin-right: 38px;
}

.register_login .title1 {
  margin-top: 120px;
  font-weight: 600;
  font-size: 36px;
}

.register_login .description {
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #647993;
  margin-bottom: 50px;
}

.register_login .frame {
  background-repeat: no-repeat;
}

.tram-xe {
  padding: 20px 38px;
}

.tram-xe .col-45 {
  max-width: 47%;
}

.tram-xe .item {
  border: 1px solid #d9d9d9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  padding: 9px;
  height: 201px;
  margin-bottom: 10px;
}

.tram-xe .item .left {
  margin-right: 16px;
  float: left;
}

.tram-xe .item .left img {
  border-radius: 5px;
}

.tram-xe .item .right {
  padding: 10px;
}

.tram-xe .item .right .title1 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
}

.tram-xe .item .right .address {
  font-size: 15px;
  margin-bottom: 19px;
  color: #545454;
}

.tram-xe .item .right .phone {
  font-size: 15px;
  margin-bottom: 16px;
  color: #545454;
}

.tram-xe .item .right .mail {
  font-size: 15px;
  color: #545454;
}

.tram-xe .item .right .btn-shop {
  width: 130px;
  height: 37px;
  float: right;
  background: #1b9b7f;
  border-radius: 50px;
  color: white;
  border: 0;
}

.tram-xe .item .right .btn-shop:focus {
  outline: unset;
}

.tram-xe .maps {
  width: 53%;
}

.product .header_main_cart {
  margin-left: 45px;
  position: relative;
}

.product .header_main_cart .cart_icon {
  width: 24px;
  height: 24px;
}

.product .header_main_cart .total_cart {
  position: absolute;
  top: -6px;
  right: -9px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #1b9b7f;
  color: #fff;
  text-align: center;
  line-height: 15px;
  font-weight: 600;
  font-size: 12px;
}

.product .user {
  color: #2da289 !important;
}

.product .breadcrumb {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.product .breadcrumb a {
  color: #000;
  font-size: 16px;
}

.product .content .col-left {
  -webkit-box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
  margin-top: 44px;
}

.product .content .col-left .title1 {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.product .content .col-left .border {
  border-bottom: 1px dashed #1b9b7f;
  width: 110px;
  margin-bottom: 22px;
}

.product .content .col-left ul {
  padding-left: 0px;
}

.product .content .col-left ul li.active a {
  font-weight: 600;
  color: #1b9b7f;
}

.product .content .col-left ul li {
  list-style: none;
  margin-bottom: 17px;
}

.product .content .col-left ul li a {
  font-size: 14px;
  color: #000000;
}

.product .content .col-left .nha-sx {
  margin-top: 30px;
}

.product .content .col-right .card {
  -webkit-box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.07);
  width: 250px;
  margin-top: 44px;
  position: relative;
}

.product .content .col-right .card .card-img-top {
  width: 250px;
  height: 205px;
  border-bottom: 1px solid #c4c4c4;
}

.product .content .col-right .card .card-title {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  margin: 25px 0 16px 0;
}

.product .content .col-right .card .card-text {
  padding-bottom: 14px;
  color: #2da289;
  font-weight: 500;
  font-size: 20px;
}

.product .content .col-right .card .product_cart {
  position: absolute;
  top: 9px;
  right: 0px;
}

.product .content .col-right .card .product_cart a {
  width: 34px;
  height: 34px;
  left: 853px;
  top: 183px;
  border: 1px solid #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: inline-block;
  line-height: 30px;
  margin-right: 9px;
}

.product .content .col-right .pagination1 {
  margin: 38px 0 29px 0;
}

.product .content .col-right .pagination1 li {
  list-style: none;
  background: #ffffff;
  border: 1px dashed #1b9b7f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  line-height: 38px;
  font-weight: 600;
  font-size: 16px;
  margin-right: 14px;
}

.product .content .col-right .pagination1 li a {
  display: block;
  color: #1b9b7f;
}

.product .content .col-right .pagination1 li.active {
  border: none;
}

.product .content .col-right .pagination1 li.active a {
  background-color: #1b9b7f;
  border-radius: 50%;
  height: 40px;
  color: #fff;
}

.product .content .col-right .pagination1 li.prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.product .content .col-right .pagination1 li.prev a {
  line-height: 35px;
}

.product .content .col-right .pagination1 li.next a {
  line-height: 36px;
}

.product-detail .detail-right {
  margin-top: 44px;
}
/*# sourceMappingURL=custom.css.map */